@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading-font: "Libre Baskerville", serif;
  --text-font: "Source Sans 3", sans-serif;
  --main: #f5931e;
  --base: #003d29;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: clamp(1.75rem, 0.1327rem + 3.3694vw, 3.5rem);
}

h2 {
  font-size: clamp(1.5rem, 0.3542rem + 2.6474vw, 3rem);
}

h3 {
  font-size: clamp(1.375rem, 0.3353rem + 2.1661vw, 2.5rem);
}

h4 {
  font-size: clamp(1.25rem, 0.5569rem + 1.444vw, 2rem);
}

h5 {
  font-size: clamp(1.125rem, 0.7784rem + 0.722vw, 1.5rem);
}

h6 {
  font-size: clamp(1rem, 0.769rem + 0.4813vw, 1.25rem);
}

body {
  font-family: var(--text-font);
  overflow-x: hidden;
}

body:before {
  content: "";
  display: block;
  background-image: url(../src/assets/images/noise.webp);
  opacity: 0.55;
  background-repeat: repeat;
  background-size: 257px auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 99999998;
}

.btn {
  @apply py-2 px-6 rounded-3xl text-lg font-medium bg-transparent border-0 outline-none shadow-none hover:bg-transparent hover:text-main;
}

.btn-base {
  @apply bg-base text-white hover:bg-base hover:text-white overflow-hidden z-10 relative after:absolute after:h-full after:-z-10 after:w-full after:bg-main after:-left-full hover:after:left-0;

  transition: all linear 0.3s;

  &::after {
    transition: all linear 0.3s;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 991px) {
  .section-heading {
    margin-bottom: 30px;
  }
}

.section-heading__title {
  position: relative;
  padding-bottom: 10px;
  font-weight: 700;
  text-transform: capitalize;
}

.section-heading__title::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 80px;
  height: 2px;
  background-color: hsl(var(--base));
}

.section-heading__desc {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.section-heading.style-left {
  text-align: left;
}

.section-heading.style-left .section-heading__title::before {
  left: 0;
  transform: translateX(0);
}

.section-heading.style-left .section-heading__desc {
  margin-left: 0;
}

.section-padding {
  padding-block: 100px;

  @media (max-width: 1199px) {
    padding-block: 80px;
  }
  @media (max-width: 991px) {
    padding-block: 60px;
  }
  @media (max-width: 575px) {
    padding-block: 40px;
  }
}

.banner-section {
  background-color: var(--base);
  padding-block: 15px;
}

.banner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.banner-content {
  width: calc(60% - 24px);
}

.banner-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.4;
  font-family: var(--heading-font);
}

.banner-thumb {
  width: 40%;
}

.banner-btn {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  font-weight: 500;
  padding: 30px 30px 30px 30px;
}

.banner-btn span {
  position: absolute;
  display: block;
}

.banner-btn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: animate1 1s linear infinite;
}

.banner-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.banner-btn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

.banner-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* service section */

.service-section {
  background-color: rgb(243 151 42 / 7%);
}

.service-item {
  padding: 32px 24px;
  border-radius: 12px;
  background: linear-gradient(180deg, #fff 0%, rgba(0, 0, 0, 0) 100%);
  transition: all linear 0.3s;
  box-shadow: 0px 5px 30px rgb(0 0 0 / 3%);
}

.service-item:hover {
  box-shadow: 4px 4px 0 var(--base);
  transform: translate(4px, -4px);
}

.service-item-icon {
  max-width: 54px;
  width: 100%;
  padding: 10px;
  background: rgb(242 240 240);
  border-radius: 6px;
}

.service-item-title {
  font-weight: 600;
  line-height: 1;
  margin: 16px 0 12px;
  font-family: var(--body-font);
}

.about-wrapper,
.tech-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}
.about-content,
.tech-content {
  width: calc(50% - 12px);
}
.about-thumb,
.about-left {
  width: calc(50% - 12px);
}

.circle-wrapper {
  margin: 0px auto;
  width: 480px;
  height: 480px;
  position: relative;
}

.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 3px solid #6495f2;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}
.icon-block {
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.icon-block img {
  margin: 0px auto;
  width: 86%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}
.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}
.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}
.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* circle content */
.circle {
  animation: circle-rotate 20s linear infinite;
  -webkit-animation: circle-rotate 20s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 75%;
  height: 75%;
  border: 3px solid #6495f2;
  border-radius: 50%;
}
.circle .icon-block img {
  animation: img-rotate 20s linear infinite;
  -webkit-animation: img-rotate 20s linear infinite;
}
/* center logo */
.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.center-logo img {
  max-width: 200px;
}

/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@-webkit-keyframes circle-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes img-rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes img-rotate {
  from {
    -webkit-transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
  }
}
